@import "variables.scss";

@mixin button-base {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-variant($bgColor, $textColor) {
  background: $bgColor;
  color: $textColor;

  &:hover {
    background: darken($bgColor, 10%);
  }
}
