$primary-color: #21a2f5;
$text-color: #494d60;
$secondary-color: #f3f5fb;
$disabled-color: #e3e6ef;
$error-color: #df2424;
$light-error-color: #FFB6B6;
$hint-color: #9299b8;
$light-color: #bababa;
$border-radius: 5px;
$primary-font-size: 20px;
$secondary-font-size: 14px;
$primary-font-weight: 600;
$bold-font-weight: 700;
$middle-font-weight: 500;
$secondary-font-weight: 400;
